# Dependências
node_modules/
package-lock.json

# Ambiente
.env

# Logs
logs
*.log
npm-debug.log*

# Diretórios de cache
.npm
.eslintcache

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
tmp/
temp/ 